<h2>Contactos</h2>

<div>
    <div>
        <h3>Telefonos</h3>
        <ul>
            <li>1515151561</li>
            <li>1615153133</li>
            <li>1354155335</li>
        </ul>
    </div>
    <div>
        <h3>Redes Sociales</h3>
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
        </ul>
    </div>
    <div>
        <h3>En nuestros Locales</h3>
        <ul>
            <li>Grand Line - Dressrosa</li>
            <li>Pais del Fuego - Aldea Oculta entre las Hojas</li>
            <li>Azeroth - Goldshire</li>
            <li>San Andreas - San Fierro</li>
            <li>Springfield - El Calabozo del Anroide</li>
        </ul>
    </div>
</div>
