<h2>Novedades</h2>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
            <th>Comprar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'discount': product.discount}">
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.price|currency}}</td>
            <td>
                <span *ngIf="product.stock == 0; else showStock ">No Hay Stock</span>
                <ng-template #showStock>Stock Disponible</ng-template>
            </td>
            <td><img [src]="product.image" [alt]="product.name"></td>
            <td>
                <app-input-value [(value)]="product.quantity" [max]="product.stock" (maxValue)="msgAlert($event)"></app-input-value>
                <p><button (click)="addToCart(product)">Agregar al Carrito</button></p>
            </td>
        </tr>
    </tbody>
</table>